.page_body {
  width: 100%;
  /* height: 770px; */
  background: url(../image/Фон1.png);
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigation-menu {
  position: relative;
  padding: 18px 100px;
  display: flex;
  justify-content: space-between;
}
.title-link {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  position: relative;
  color: #ffffff;
  padding-right: 704px;
  font-family: "Ubuntu", sans-serif;
}
.icon-calendar {
  position: relative;
  padding-left: 22px;
}
.header-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding-top: 5px;
  padding-left: 6px;
  display: inline-block;
  vertical-align: middle;
}
.submit {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.title-link:hover {
  color: #01813f;
}
.submit:hover {
  color: #01813f;
}
.icon:hover path {
  fill: #01813f;
  /* transition: all 500ms ease 0s; */
}

.section {
  margin-left: auto;
  margin-right: auto;
  width: 444px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  margin-top: 54px;
  position: relative;
}
.section-logo {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  position: relative;
  font-family: "Ubuntu";
  padding: 31px 0px 15px 61px;
  margin: 0;
}
.section-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  font-family: "Ubuntu";
  padding: 33px 58px 13px 216px;
}
.section-link:hover {
  text-decoration: underline;
  color: #01813f;
}
.section-logo::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../image/shape.png);
}
.facebook-submit {
  width: 160px;
  height: 48px;
  background: #305db8;
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  border: none;
}
.facebook-submit:hover {
  background: #022263;
}
.facebook-line {
  width: 1px;
  height: 28px;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
}
.google-submit {
  width: 160px;
  height: 48px;
  background: #df4a32;
  margin-right: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  border: none;
}
.google-submit:hover {
  background: #ab1f09;
}
.google-line {
  width: 1px;
  height: 28px;
  background: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
}
.button {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  color: #848484;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.subtitle > span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.4em;
}
.subtitle > span:before,
.subtitle > span:after {
  content: "";
  position: absolute;
  width: 150px;
  margin-top: 6px;
  border-bottom: 2px solid #e0dfdf;
}

.subtitle > span:before {
  margin-left: -154px;
}

.subtitle > span:after {
  margin-left: 1%;
}
.area {
  margin: 12px 61px 12px 61px;
  height: 42px;
  width: 324px;
  border: 1.5px solid #c5c5c5;
  border-radius: 5px;
}
.input-info {
  width: 100%;
  padding: 10px;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
  cursor: pointer;
}
.input-info:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  outline: none;
  border-radius: 5px;
}

/* input:checked {
  border: none;
  color: #3cb878;
} */
.checkbox {
  margin-top: 5px;
  margin-left: 65px;
  cursor: pointer;
  margin-right: 8px;
}
.button-submit {
  margin: 20px 60px 38px 60px;
  border-radius: 5px;
  color: white;
  width: 324px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: rgba(60, 184, 120, 0.8);
  border: none;
}
.button-submit:hover {
  background-color: #01813f;
}
.checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
